/***** Body *****/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/***** Image Display *****/
.wrapper {
  margin-top: 25px;
}

.display {
  width: 550px;
  height: 350px;
  border: 5px solid black;
}

/***** Button Styling *****/
.button {
  font-family: 'Karla';
  font-size: 2rem;
  font-weight: 1000;

  background-color: seagreen;
  border: 3px solid black;
  box-shadow: 5px 10px lightslategray;

  cursor: pointer;
}